.header img {
    display: block;
	position: fixed;
	max-width: 10%;
    height: auto;
    margin: auto;
    border-radius: 48% / 25%;
    box-shadow: 5px 5px 10px black;   
}

a {
	display: inline-block;
	margin: 0 auto;
}

.header a img {
	box-shadow: none;
	width: 20%;
}