body {
	/*background-image: url("../images/monkeylogobackdrop.jpg");
	background-position:top;
	background-repeat: no-repeat;*/
	background-color: grey;
	font: normal 1em Verdana, Arial, sans-serif;
	color: white;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	font-weight: bold;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	display: inline-block;
	background-image: url("../images/space.jpg");
	background-size: 2300px;
	background-repeat: no-repeat;
	border: 0.7em outset rgba(10, 10, 10, 1);
	border-radius: 33% 0;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	height: 60em;
	width: 100%;
}

.imgheader {
	display: inline-block;
	vertical-align: top;
	padding: 7em 0 0;
	height: auto;
	width: 100%;
}

.imgheader img {
	display: block;
	/*border: .25em outset white;*/
	border-radius: 48% / 25%;
	box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	height: 200px;
	min-width: 100px;
}

.contentheader {
	display: inline-block;
	vertical-align: top;
	height: 10em;
	width: 100%;
	color: white;
}

.contentheader h1 {
	display: block;
	text-align: center;
}

.contentheader h2 {
	display: block;
	margin-top: -0.8em;
	font-style: oblique;
	text-align: center;
}

nav {
	display: block;
	padding-right: 2em;
	width: 100%;
	text-align: center;
}

nav li {
	display: inline-block;
	position: relative;
	padding: 0 0.6em;
}

nav a {
	display: block;
	position: relative;
	border: 0.1em solid black;
	border-radius: 100%;
	padding: 0.3em;
	width: 2em;
	color: black;
	background-color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
	text-shadow: none;	
}

nav a:hover {
	display: block;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
	color: white;
	border-color: white;
	border-width: .05em;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}