body {
    background-image: url("../images/monkeylogobackdrop.jpg");
    background-repeat: no-repeat;
    margin: auto;
    font: normal 12px Verdana, Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 3px black;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.header {
    border-radius: 15px 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.navigation {
	display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* Newsfeed Heading */
.newsfeed {
	position: relative;
    border: 4px outset grey;
    border-radius: 10px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    box-shadow: 5px 5px 10px black;
	
}

[class*=col-] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
