.newsfeed marquee {
    display: flex;
    width: auto;
	border: 4px inset grey; 
    height: auto;
    padding: 1px;
	color: white;
	text-shadow: none;
    background-color: black;
}

h1 {
	display: block;
    text-align: center;
}

h2 {
	display: block;
    text-align: center;
  }